.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form input {
    height: 32px;
}

.form [name="delay"] {
    margin-left: 16px;
}

.form [name="step"] {
    margin-left: 13px;
}

.form [name="amount"] {
    margin-left: 62px;
}

.form button {
    width: 120px;
    height: 40px;
}